spring:
  sql:
    init:
      mode: always
      data-locations: classpath:data-dev.sql
      continue-on-error: false

  flyway:
    clean-disabled: true

logging:
  level:
    org.springframework.jdbc.datasource.init.ScriptUtils: info
