spring:
  application:
    name: quizapp

  datasource:
    url: jdbc:postgresql://localhost:5432/quizapp
    username: quizapp
    password: quizapp
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false

  sql:
    init:
      mode: never

  flyway:
    enabled: true
    locations: classpath:db/migration

springdoc:
  swagger-ui:
    path: /swagger-ui.html


server:
  port: 8080

logging:
  level:
    org.hibernate.SQL: debug
    org.flywaydb: debug

app:
  storage:
    uploads-dir: ./uploads
